<html>
  <head>
    <title>Ethersheet</title>
    <script type="text/javascript" src="/doc.cookie.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Averia+Libre' rel='stylesheet' type='text/css'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id='content-outer'>
      <div id='content-inner'>
        <h1 id='title'> Ethersheet </h1>
        <p id='instructions' class='text'>
          Ethersheet is a free and open source software tool to make collaborating on spreadsheets fast and easy.
          <br />
          <br />
          <br />
        </p>
        <p id='instructions' class='text'>
          Open or create a sheet with the following name:
        </p>
        <form onsubmit="go2Name();return false;" action="#"> 
          <div id="input_border" class='text'>
            <input type="text" autofocus="" id="sheetname"> 
            <input type="submit" value="GO" id='submit'> 
          </div>
        </form>
        <p id='about' class='text'>
        Confused about where to start? 
        <br />
        Try the <a href='https://ethersheet.org/s/test'>Test Sheet</a>
        <br />
        Ethersheet does not store IP addresses and we require https connections. For added security you can visit this service through tor.  
        <br />
        If you want to find out more, report bugs, or contirbute code, visit the <a href='https://github.com/cooperq/EtherSheet'>Github Page</a>. 
         <br><br>
         This service should be considered 'pre-alpha' and should not be used where stability and security are requirement
        </p>
      </div>
    </div>
  <script type='text/javascript'>
  //js code stolen from etherpad http://etherpad.org/  Thanks!!!
    function go2Name() {
      var sheetname = document.getElementById("sheetname").value;
      sheetname.length > 0 ? window.location = "s/" + sheetname : alert("Please enter a name")
    }

    function setRandomName() {
      document.getElementById("sheetname").value = randomString(12);
    }

    setRandomName();
    if(!docCookies.hasItem('user_id')){
      docCookies.setItem('user_id', randomString(20));
    }

  </script>
  </body>
</html>
