<html>
  <head>
    <title>Ethersheet</title>
    <script type="text/javascript" src="/es_client/vendor/sjcl.js"></script>
    <script type="text/javascript">sjcl.random.startCollectors();</script>
    <script type="text/javascript" src="/es_client/vendor/jquery.js"></script>
    <script src="/es_client/vendor/i18next.js"></script>
    <script type="text/javascript"></script>
    <link href='/es_client/styles/fonts.css' rel='stylesheet' type='text/css'>
    <link href='/es_client/styles/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id='content-outer'>
      <div id='content-inner'>
        <div id='logo-container'>
          <img src="/es_client/icons/es_logo.png">
        </div>
        <div id='instructions-container'>
          <p id='instructions' class='text i18n' data-i18n="nameSpreadsheet"> </p>
          <form onsubmit="setSessionCookie();go2Name();return false;" action="#"> 
            <div id="input_border" class='text'>
              <input type="text" autofocus="" id="sheetname"> 
              <input type="submit" class="i18n" id='submit' data-i18n="[value]goToSheet"> 
            </div>
          </form>
          <div id='about' class='text'><%- introText %></div>
        </div>
      </div>
    </div>
    <script type='text/javascript'>
    function setSessionCookie(){
      var sheetname = document.getElementById("sheetname").value;
      document.cookie = "JSESSIONID=" + sheetname + "; secure" 
    }

    //js code stolen from etherpad http://etherpad.org/  Thanks!!!
    function go2Name() {
      var sheetname = document.getElementById("sheetname").value;
      sheetname.length > 0 ? window.location = "s/" + sheetname : alert("Please enter a name")
    }

    function setRandomName() {
      document.getElementById("sheetname").value = randomString(20);
    }
    function randomString(strlen) {
      var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
      var string_length = strlen || 12;
      var randomstring = '';
      var words = sjcl.random.randomWords(string_length);
      for (var i = 0; i < string_length; i++) {
        var rnum = Math.abs(words.pop() % chars.length);
        randomstring += chars.substring(rnum, rnum + 1);
      }
      return randomstring;
    }

    $(function(){
      setRandomName();
      i18n.init({
        lng: navigator.language, 
        resGetPath: '/es_client/locales/__lng__/__ns__.json'}, 
        function(){
          $('.i18n').i18n();
        }
      ); 
    });
  </script>
  </body>
</html>
