<html>
  <head>
    <title>Ethersheet</title>
    <script type="text/javascript" src="/doc.cookie.js"></script>
    <script type="text/javascript" src="/es_client/vendor/sjcl.js"></script>
    <script type="text/javascript">sjcl.random.startCollectors();</script>
    <link href='/es_client/styles/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id='content-outer'>
      <div id='content-inner'>
        <h1 id='title'> Ethersheet </h1>
        <p id='instructions' class='text'>
          Ethersheet is a free and open source software tool to make collaborating on spreadsheets fast and easy.
          <br />
          <br />
          <br />
        </p>
        <p id='instructions' class='text'>
          Open or create a sheet with the following name:
        </p>
        <form onsubmit="setSessionCookie();go2Name();return false;" action="#"> 
          <div id="input_border" class='text'>
            <input type="text" autofocus="" id="sheetname"> 
            <input type="submit" value="GO" id='submit'> 
          </div>
        </form>
        <p id='about' class='text'>
        Confused about where to start? 
        <br />
        Try the <a href='/s/test'>Test Sheet</a>
        <br />
        Ethersheet does not store IP addresses and we require https connections. For added security you can visit this service through tor.  
        <br />
        If you want to find out more, report bugs, or contirbute code, visit the <a href='https://github.com/cooperq/EtherSheet'>Github Page</a>. 
         <br><br>
         This service should be considered 'pre-alpha' and should not be used where stability and security are requirement
        </p>
      </div>
    </div>
  <script type='text/javascript'>
  function setSessionCookie(){
    var sheetname = document.getElementById("sheetname").value;
    document.cookie = "JSESSIONID=" + sheetname + "; secure" 
  }

  //js code stolen from etherpad http://etherpad.org/  Thanks!!!
    function go2Name() {
      var sheetname = document.getElementById("sheetname").value;
      sheetname.length > 0 ? window.location = "s/" + sheetname : alert("Please enter a name")
    }

    function setRandomName() {
      document.getElementById("sheetname").value = randomString(20);
    }
    function randomString(strlen) {
      var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
      var string_length = strlen || 12;
      var randomstring = '';
      var words = sjcl.random.randomWords(string_length);
      for (var i = 0; i < string_length; i++) {
        var rnum = Math.abs(words.pop() % chars.length);
        randomstring += chars.substring(rnum, rnum + 1);
      }
      return randomstring;
    }

    setRandomName();

  </script>
  </body>
</html>
