<!DOCTYPE html>
<html>
  <head>
    <title>Ethersheet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!--Ethersheet-->
    <link rel="stylesheet" type="text/css" href="/es_client/styles/es_container.css" />
    <link rel="stylesheet" type="text/css" href="/es_client/styles/table.css" />
    <script src="/es_client/vendor/require.js"></script>
    <script src="/es_client/boot.js"></script>
    <style>
      html,body{
        height:98%;
      }
      #ethersheet{
        height:99%;
        margin:1%;
      }
    </style>
    <script type="text/javascript">

      // global namespace
      var e;

      // create a new ethersheet
      require(['es_client/ethersheet'], function(Ethersheet){
        e  = new Ethersheet({
          target: '#ethersheet',
          channel: '<%= channel %>',
          sheet: <%- sheet %> 
        });
      });

    </script>
      
  </head>
  <body>
    <div id="ethersheet"></div>
  </body>
</html>
