<!DOCTYPE html>
<html>
  <head>
    <title>Ethersheet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!--Ethersheet-->
    <link rel="stylesheet" type="text/css" href="/es_client/styles/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/es_client/styles/es_container.css" />
    <link rel="stylesheet" type="text/css" href="/es_client/styles/table.css" />
    <link rel="stylesheet" type="text/css" href="/es_client/styles/menu.css" />
    <script src="/es_client/vendor/bcsocket.js"></script>
    <script src="/es_client/vendor/share.js"></script>
    <script src="/es_client/vendor/require.js"></script>
    <script src="/es_client/vendor/i18next.js"></script>
    <script type="text/javascript">i18next.init({lng: navigator.language});</script>
    <script type="text/javascript">i18n.init({lng: navigator.language, resGetPath: '/es_client/locales/__lng__/__ns__.json'}); </script>
    <script src="/es_client/boot.js"></script>
    <style>
      html,body{
        height:100%;
        margin: 0;
      }
      #ethersheet{
        height:99%;
      }
    </style>
    <script type="text/javascript">

      // global namespace
      var e;

      // create a new ethersheet
      require(['es_client/ethersheet'], function(Ethersheet){
        e  = new Ethersheet({
          target: '#ethersheet',
          channel: '<%= channel %>',
          id: '<%= id %>',
          doc: <%- doc %>
        });
      });

    </script>
      
  </head>
  <body>
    <div id="ethersheet"></div>
  </body>
</html>
