.table{
border-collapse: collapse;
float:left;
}
.table td, .table th{
padding:0;
margin:0;
width: 48px;
height: 14px;
font-size:12px;
line-height:12px;
}
.table .table-corner{
background: #cccccc;
border: 1px solid #cccccc;
border-bottom-color: #666666;
height:15px;
}
.column-header{
border:1px solid #666666;
border-bottom: none;
background:#aaaaaa;
}
.row-header{
border:1px solid #666666;
background:#aaaaaa;
border-right: none;
}
.table-cell{
width: 36px;
height: 12px;
border:1px solid #666666;
}
