<div id="es-table-<%= id %>">
  <table class="row-headers table">
    <thead id="row-headers-<%=id%>"></thead>
    <tbody></tbody>
  </table>
  <table class="column-headers table">
    <thead id="column-headers-<%=id%>"></thead>
    <tbody></tbody>
  </table>
  <table class="table">
    <thead></thead>
    <tbody id="data-table-<%=id%>"></tbody>
  </table>
</div>
